
<header>
  <nav class="navbar navbar-expand-lg ">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" class="contenido">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Listar']" [routerLinkActive]="['actived']">Ver Contactos  </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/Crear']" [routerLinkActive]="['actived']">Crear Contacto </a>
          </li>

        </ul>
      </div>


    </div>
  </nav>

</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
